/* 1:30:40 */

:root {
  --mainNavy: rgb(0, 31, 63);
  --mainBlue: #0074d9;
  --mainAqua: #7fdbff;
  --mainBlack: #111111;
  --mainGray: #aaaaaa;
  --mainYellow: #f1b458;
  --mainSilver: #ebebeb;
  --mainBrown: #2d1e1f;
  --mainDarkPurple: RGB(116, 20, 31);
}

body {
  color: var(--mainBlack);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0, 25rem !important;
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.home-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

/* about button home page styles */
.btn-yellow {
  color: var(--mainYellow) !important;
  border-color: var(--mainYellow) !important;
}

.btn-yellow:hover {
  background: var(--mainYellow) !important;
  color: var(--mainBlack) !important;
}

.footer {
  background-color: var(--mainDarkPurple);
  color: var(--mainSilver);
}

.menu {
  background: var(--mainSilver);
}