/* 1:30:40 */

:root {
  --mainNavy: rgb(0, 31, 63);
  --mainBlue: #0074d9;
  --mainAqua: #7fdbff;
  --mainBlack: #111111;
  --mainGray: #aaaaaa;
  --mainYellow: #ffdc00;
  --mainSilver: #dddddd;
}

body {
  background: var(--mainSilver);
  color: var(--mainBlack);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0, 25rem !important;
}

.text-yellow {
  color: var (var(--mainYellow));
}

.cart-icon {
  cursor: pointer;
  color: var(--mainBlack);
  font-size: 2rem;
}

.home-background {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(9, 157, 255, 0.5), rgba(9, 157, 255, 0.5));
  background-position: center;
  background-size: cover;
}

/* about button home page styles */
.btn-blue {
  color: var(--mainBlack);
  border-color: var(--mainGray);
}
.btn-blue:hover {
  background: var(--mainAqua);
  color: var(--mainBlack)
}